#banner {
    box-sizing: border-box;
    font-family: Helvetica, arial, sans-serif;     
    vertical-align: baseline;
    border: 0;   

    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    color: #1e1e1e;
	z-index: 500;	
    margin: 50px auto 60px 10px;
    opacity: 0;
    transition: opacity .3s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb6011+0,f01000+100 */
    background: #fb1011; /* Old browsers */
    background: -moz-linear-gradient(top,  #fb6011 0%, #f01000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fb6011 0%, #f01000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fb6011 0%, #f01000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb6011', endColorstr='#f01000',GradientType=0 ); /* IE6-9 */    
}

.text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 21px;
    z-index: 1; 
}

.altColor {
    z-index: 1;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
}

.general-text, .OfferText {
    text-transform: none;	
}

#offerContainer {
    width: 340px;
    height: 340px;
    border-radius: 170px;
    position: absolute;
    top: 20px;
    left: -60px;
}

.link, .labelsOffer {
    left: 50px;
    width: 250px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.labelsOffer {
    top: 140px;
    padding-top: 2px;
}

.link {
    top: 205px;    
    height: 40px;
}

.offerLine {
    position: absolute;
    top: 175px;
    left: 60px;
    width: 230px;
    height: 1px;
    background: #3e3e3e;
}

.OfferText {
    color: #3e3e3e;
    top: 260px;
    left: 110px;
    width: 140px;
    padding: 5px 10px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;    
}

.secondOffer {
    position: absolute;
    top: 130px;
    left: 85px;
    width: 120px;
    border-radius: 20px;
    background: #ef1f00; 
    padding: 14px 18px;
    font-size: 18px;     
}

.general-text {
    position: absolute;    
	margin: 15px 35px;
    width: 220px;
	height: 220px;
    border-radius: 110px;
}

.general-text p {   
    margin: 0;
    position: absolute;
    top: 60px;
    left: 35px;
    font-size: 21px;
    width: 170px;
    height: 70px;
}