.gallery {
    display: inline-block;
}

.gallery .image-container {
    float: left;
    width: 250px;
    min-height: 150px;
    max-width: 100%;
    margin: 5px;
}

.gallery .image-container img {
    width: 100%;
}

.gallery .selected {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.gallery .selected img {
    float: left;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 85%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery .selected .previous-image {
    position: absolute;
    left: 0;
    top: 100px;
    width: 15%;
}

.gallery .selected .current-image {
    position: absolute;
    left: 15%;
    width: 70%;
}

.gallery .selected .next-image {
    position: absolute;
    left: 85%;
    top: 100px;
    width: 15%;
}

.gallery .blurred {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.gallery .clearfix {
    clear: both;
}

.gallery .disabled-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

@media (max-width:770px) {  
    .gallery .image-container {
        width: 100%;
    }
    
    .gallery .selected {
        top: 10%;
    }
}
