<h1>About me</h1>

<div class="row">
	<div class="col-md-12">
		<p>I graduated in <em>Applied Mathematics</em> at <em>Sofia University “St. Kliment Ohridksi”</em> in 2002 and first entered the web programming in 2004 with my participation in the creation of the web site Scientific Visualization, based on webMathematica technology. I have also worked as a programmer, but my love of painting and the urge to combine art and technology always attracted me to web design.
		</p>

		<p>I began work with <em>Drupal</em> in 2010 whilst building the new version of the Medical Faculty web site at the Medical University in Sofia. I have administered it until 2011, and then began designing websites on a freelance basis.
		</p>

		<p>In July 2013, I successfully completed the CMS (Content Management Systems) course at <em>Telerik Software Academy</em>. That confirmed my view that a website built with a content management system can satisfy every standard of specific functionality and design whilst also looking beautiful. In 2016, I graduated from Front-End courses at <em>Telerik Software Academy</em>.
		</p>	
	</div>
</div>		
