<h1>Анимирани Банери</h1>

<div class="row">
	<section class="col-md-6">
		<button id="300-250" class="more btn">Рестарт 300x250px</button>
		<div id="banner">
		</div>
	</section>	
		
	<section class="col-md-6">
		<button id="250-400" class="more btn">Рестарт 250x400px</button>
		<div id="banner250x400">
		</div>
	</section>							
</div>

Внимание! Възможно е банерът да не се покаже, ако имате активиран плъгин от рода на Ad Blocker във вашия браузер.