<h1>Анимирани Банери</h1>

<button id="300-250" class="more btn">Рестарт 300x250px</button>
<div id="banner">
</div>

Внимание! Възможно е банерът да не се покаже, ако имате активиран плъгин от рода на Ad Blocker във вашия браузер.