<h1>Банери</h1>	

<div id="gallery">

    <div class="gallery-list">
        <div class="image-container">
            <img src="public/images/posters/lumina/lumina_en.jpg" data-info="1" />
        </div>
        <div class="image-container">
            <img src="public/images/posters/lumina/lumina_wh.jpg" data-info="2" />
        </div>
        <div class="image-container">
            <img src="public/images/banners/lumina_banner.jpeg" data-info="3" />
        </div>
    </div>

    <div class="selected">
        <div class="previous-image">
            <img src="public/images/posters/lumina/lumina_en.jpg" id="previous-image" />
        </div>
        <div class="current-image">
            <img src="public/images/posters/lumina/lumina_wh.jpg" id="current-image" />
        </div>
        <div class="next-image">
            <img src="public/images/banners/lumina_banner.jpeg" id="next-image" />
        </div>
    </div>
    
</div>

<p>Банерите и плакатите са изготвени по задание, т.е. идеята е на клиента, а изпълнението - от мен. Логото на Медицински факултет е собственост на друг автор.</p>

<p>Кодът за галерията, (с малки промени) е взет от <a target="_blank" href="https://www.youtube.com/watch?v=U3Wq3WU4N34">тук</a>.</p>