	<footer>		
		<div class="row">		
			<div class="col-md-4">
				<h3>Основно меню</h3>
				<ul class="nav">
					<li><a href="#/home">Начало</a></li>
					<li><a href="#/aboutme">За мен</a></li>	
					<li><a href="#/portfolio">Портфолио</a></li>						
				</ul>				
			</div>	

			<div class="col-md-4">		
				<h3>Връзки</h3>			
				<ul class="nav">
					<li><a target="_blank" href="http://telerikacademy.com/">Софтуерна академия на Телерик</a></li>	
					<li><a target="_blank" href="https://www.drupal.org/">Официален уеб сайт на Друпал</a></li>
					<li><a target="_blank" href="http://drupalbg.org/">Български сайт за Друпал</a></li>
					<li><a target="_blank" href="http://razni-raboti.com/">Svetoslav Stoyanov</a></li>
					<li><a target="_blank" href="http://maria.momtchev.com/">Мария Момчева</a></li>				
				</ul>									
			</div>				
			
			<div class="col-md-4">	
				<h3>Хоби</h3>				
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=cEyqT2_ricA&list=PLwYEMsXaEjMWACiXkSnlCa8k083jyFQJz&index=2">Връзката между духовност и наука</a></li>
			</ul>	
				<h3>Каузи</h3>				
			<ul>				
				<li><a target="_blank" title="World Freedom Alliance" href="https://worldfreedomalliance.org/">World Freedom Alliance</a></li>
				<li><a target="_blank" title="Изобличаване на аерозолните престъпления" href="http://www.geoengineeringwatch.org/">Изобличаване на аерозолните престъпления</a></li>
				<li><a target="_blank" href="https://www.facebook.com/dobiv.na.cenni.koji/">Гражданска инициатива за забрана на добива на ценни кожи в РБ</a></li>			
			</ul>									
			</div>							
		</div>	

		<div class="row" id="footer-bottom">
			<section class="col-md-12">
				<p class="copy">© 2023 Мария Иванова. | Всички права запазени.</p>			
			</section>
		</div>	
	</footer>	
