<h1>Рисунки</h1>

<div id="gallery">

    <div class="gallery-list">
        <div class="image-container">            
            <img src="public/paintings/WP_20230226_170-retouched-large.jpg" data-info="1" />
        </div>
        <div class="image-container">
            <img src="public/paintings/DSC_0246.jpg" data-info="2" />
        </div>    
        <div class="image-container">
            <img src="public/paintings/WP_20220102_041.jpg" data-info="3" />
        </div>    
        <div class="image-container">
            <img src="public/paintings/DSC_0611.jpg" data-info="4" />
        </div>    

        <div class="image-container">
            <img src="public/paintings/DSC_0155.JPG" data-info="5" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20201227_002-small.jpg" data-info="6" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20211221_030.jpg" data-info="7" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20220103_015.jpg" data-info="8" />
        </div>

        <div class="image-container">
            <img src="public/paintings/WP_20220115_022.jpg" data-info="9" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20210324_018.jpg" data-info="10" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20210616_013.jpg" data-info="11" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20210506_058.jpg" data-info="12" />
        </div>

        <div class="image-container">
            <img src="public/paintings/WP_20220503_027.jpg" data-info="13" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20211217_020.jpg" data-info="14" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20220108_006.jpg" data-info="15" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20210128_007.jpg" data-info="16" />
        </div>            

        <div class="image-container">
            <img src="public/paintings/DSC_0152.JPG" data-info="17" />
        </div>
        <div class="image-container">
            <img src="public/paintings/landscape.jpg" data-info="18" />
        </div>                
        <div class="image-container">            
            <img src="public/paintings/WP_20220618_007-roses-small.jpg" data-info="19" />
        </div>
        <div class="image-container">
            <img src="public/paintings/WP_20230319_017.jpg" data-info="20" />
        </div>    

        <div class="image-container">
            <img src="public/paintings/sea-landscape3.jpg" data-info="21" />
        </div>     
        <div class="image-container">
            <img src="public/paintings/spring-landscape.jpg" data-info="22" />
        </div>
        <div class="image-container">
            <img src="public/paintings/sea-landscape1.jpg" data-info="23" />
        </div>
        <div class="image-container">
            <img src="public/paintings/ahtopolpaint.jpg" data-info="24" />
        </div>
        
        <div class="image-container">
            <img src="public/paintings/willow-paint.jpg" data-info="25" />
        </div>
         <div class="image-container">
            <img src="public/paintings/pelargonium.jpg" data-info="26" />
        </div>
        <div class="image-container">
            <img src="public/paintings/DSC_0735.jpg" data-info="27" />
        </div>              
    </div>

    <div class="selected">
        <div class="previous-image">
            <img src="public/paintings/DSC_0611.jpg" id="previous-image" />
        </div>
        <div class="current-image">
            <img src="public/paintings/DSC_0246.jpg" id="current-image" />
        </div>
        <div class="next-image">
            <img src="public/paintings/WP_20220102_041.jpg" id="next-image" />
        </div>
    </div>
    
</div>

<p>Кодът за галерията, (с малки промени) е взет от <a target="_blank" href="https://www.youtube.com/watch?v=U3Wq3WU4N34">тук</a>.</p>
