<h1>Рисунки</h1>

Всички рисунки <a title="My paintings Моите рисунки" target="_blank" href="https://photos.app.goo.gl/1aRCin9Cjp1uz2EY7">тук</a>.
<br/>

<div id="gallery">

    <div class="gallery-list">
        <div class="image-container">
            <img src="public/paintings/autumn-landscape2.jpg" data-info="1" />
        </div>     
        <div class="image-container">
            <img src="public/paintings/autumn-landscape.jpg" data-info="2" />
        </div> 
        <div class="image-container">
            <img src="public/paintings/sea-landscape2.jpg" data-info="3" />
        </div>            
        <div class="image-container">
            <img src="public/paintings/sea-landscape1.jpg" data-info="4" />
        </div>         
        <div class="image-container">
            <img src="public/paintings/vase-flowers.jpg" data-info="5" />
        </div>     
        <div class="image-container">
            <img src="public/paintings/spring-landscape.jpg" data-info="6" />
        </div>
        <div class="image-container">
            <img src="public/paintings/autumn-tree.jpg" data-info="7" />
        </div>          
        <div class="image-container">
            <img src="public/paintings/zodiaccards.jpg" data-info="8" />
        </div>
        <div class="image-container">
            <img src="public/paintings/ahtopolpaint.jpg" data-info="9" />
        </div>
        <div class="image-container">
            <img src="public/paintings/landscape.jpg" data-info="10" />
        </div>
        <div class="image-container">
            <img src="public/paintings/willow-paint.jpg" data-info="11" />
        </div>
         <div class="image-container">
            <img src="public/paintings/pelargonium.jpg" data-info="12" />
        </div>              
    </div>

    <div class="selected">
        <div class="previous-image">
            <img src="public/paintings/autumn-landscape2.jpg" id="previous-image" />
        </div>
        <div class="current-image">
            <img src="public/paintings/autumn-landscape.jpg" id="current-image" />
        </div>
        <div class="next-image">
            <img src="public/paintings/sea-landscape2.jpg" id="next-image" />
        </div>
    </div>
    
</div>

<p>Кодът за галерията, (с малки промени) е взет от <a target="_blank" href="https://www.youtube.com/watch?v=U3Wq3WU4N34">тук</a>.</p>
