<h1>Рисунки</h1>

<div id="gallery">
    <div class="gallery-list">
    {{#each paintings}}
        <div class="image-container">            
            <img src={{this}} data-info="{{incr @index}}" />
        </div>
    {{/each}}
    </div>

    <div class="selected">
        <div class="previous-image">
            <img src="public/paintings/DSC_0735-small.jpg" id="previous-image" />
        </div>
        <div class="current-image">
            <img src="public/paintings/WP_20220723_028.jpg" id="current-image" />
        </div>
        <div class="next-image">
            <img src="public/paintings/WP_20220813_057.jpg" id="next-image" />
        </div>
    </div>
</div>

<p>Кодът за галерията, (с малки промени) е взет от <a target="_blank" href="https://www.youtube.com/watch?v=U3Wq3WU4N34">тук</a>.</p>
