<h1>Рисунки</h1>	

<div id="gallery">

    <div class="gallery-list">
        <div class="image-container">
            <img src="paintings/autumn-tree.jpg" data-info="1" />
        </div>
        <div class="image-container">
            <img src="paintings/pelargonium.jpg" data-info="2" />
        </div>
        <div class="image-container">
            <img src="paintings/willow-paint.jpg" data-info="3" />
        </div>
        <div class="image-container">
            <img src="paintings/landscape.jpg" data-info="4" />
        </div>
        <div class="image-container">
            <img src="paintings/ahtopolpaint.jpg" data-info="5" />
        </div>
        <div class="image-container">
            <img src="paintings/zodiaccards.jpg" data-info="6" />
        </div>
    </div>

    <div class="selected">
        <div class="previous-image">
            <img src="paintings/autumn-tree.jpg" id="previous-image" />
        </div>
        <div class="current-image">
            <img src="paintings/pelargonium.jpg" id="current-image" />
        </div>
        <div class="next-image">
            <img src="paintings/willow-paint.jpg" id="next-image" />
        </div>
    </div>
    
</div>

<p>Кодът за галерията, (с малки промени) е взет от <a target="_blank" href="https://www.youtube.com/watch?v=U3Wq3WU4N34">тук</a>.</p>