<h1>Portfolio</h1>	

	<ul>
		<li><a href="#/websites">Web sites</a></li>
		<li><a href="#/paintings">Paintings</a></li>
		<li><a href="#/banners">Banners</a></li>		
		<li><a href="#/animatedbanners">Animated banners</a></li>
		<li><a target="_blank" href="https://plus.google.com/collection/oCmmRE">Collages</a></li>
		<li><a href="#/subtitles">Video translations and subtitles</a></li>	
	</ul>
	