<h1>Портфолио</h1>	

	<ul>
		<li><a href="#/websites">Уеб сайтове</a></li>
		<li><a href="#/paintings">Рисунки</a></li>
		<li><a target="_blank" href="https://plus.google.com/collection/oCmmRE">Колажи</a></li>	
	</ul>
	