<h1>Преводи и субтитри на видеоклипове</h1>	

<p>Правя преводи и субтитри на видеоклипове, стига съдържанието им да не противоречи на принципите ми. Спикък с някои от преведените от мен видеоклипове, можете да видите тук:</p>

<div class="row">
    <section class="col-md-6">         
        <iframe width="356" height="200" src="https://www.youtube.com/embed/TpQcXyn8Psw?rel=0&hl=bg&cc_load_policy=1" frameborder="0" allowfullscreen></iframe> 
    </section>  
        
    <section class="col-md-6">
        <iframe width="356" height="200" src="https://www.youtube.com/embed/fB35sF6SdZw?rel=0&hl=bg&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
    </section>                          
</div>

<div class="row">
    <section class="col-md-6">         
        <iframe width="356" height="200" src="https://www.youtube.com/embed/A1A4-Lm9pW4?rel=0&hl=bg&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>         
    </section>  
        
    <section class="col-md-6">
        <iframe width="356" height="200" src="https://www.youtube.com/embed/YdSr0YfDAF0?rel=0&cc_load_policy=1&hl=bg" frameborder="0" allowfullscreen></iframe>
    </section>                          
</div>

<hr/>
<div class="row">
    <section class="col-md-12">         
        <div class="amara-embed" data-height="370px" data-width="620px" data-resizable="true" data-url="http://www.youtube.com/watch?v=mRjmzy9XcaY" data-show-subtitles-default="true" data-initial-language="bg">
        </div> 
    </section>                          
</div>

<div class="row">
    <section class="col-md-12">         
        <div class="amara-embed" data-height="370px" data-width="620px" data-resizable="true" data-url="http://www.youtube.com/watch?v=GUDQi_SoFIw" data-show-subtitles-default="true" data-initial-language="bg">
        </div> 
    </section>                          
</div>

<div class="row">
    <section class="col-md-12">         
        <div class="amara-embed" data-height="370px" data-width="620px" data-resizable="true" data-url="http://www.youtube.com/watch?v=_vXIIe-YR38" data-show-subtitles-default="true" data-initial-language="bg">
        </div> 
    </section>                          
</div>

<div class="row">
    <section class="col-md-12">         
        <div class="amara-embed" data-height="370px" data-width="620px" data-resizable="true" data-url="http://www.youtube.com/watch?v=OsYG5emdZp8" data-show-subtitles-default="true" data-initial-language="bg">
        </div> 
    </section>                          
</div>