<h1>Уеб сайтове</h1>
	  <!-- Wrapper for items -->
	  <div id="portfolio">

		<div class="row">
			<section class="col-md-6">
				<h3>ББКЕ</h3>
		        <img src="public/images/websites/bbce.jpg" alt="ББКЕ">			
				<p>Създаден: 2018 г.<br/>
					Използвана технология: Друпал
					<br/>
				</p>		  
				<a class="more" target="_blank" href="http://bbce.org/">Виж сайта</a>	
				<hr/>
			</section>	
		
			<section class="col-md-6">
				<h3>Skyway Publications</h3>
		        <img src="public/images/websites/skyway.jpg" alt="Skyway Publications">			
				<p>Създаден: 2018 г.<br/>
					Използвана технология: Друпал
					<br/>
				</p>		  
				<a class="more" target="_blank" href="http://skywaypublications.com/">Виж сайта</a>	
				<hr/>
			</section>							
		</div>	  

		<div class="row">
			<section class="col-md-6">
				<h3>Chameleon</h3>
		        <img src="public/images/websites/chameleon.jpg" alt="chameleon">			
				<p>Създаден: 2016 г.<br/>
					Използвана технология: HTML, CSS, JavaScript
					<br/>
					Курсов проект към академията на Телерик - уебсайт, кодиран по зададен дизайн, с малка игра "Змия".
				</p>		  
				<a class="more" target="_blank" href="http://mariya-ivanova.github.io/chameleon-app/public/index.html">Виж сайта</a>	
				<hr/>
			</section>	
		
			<section class="col-md-6">
				<h3>Туризъм в Ловеч</h3>
		        <img src="public/images/websites/lovech.jpg" alt="Туризъм в Ловеч">			
				<p>Създаден: 2015 г.<br/>
					Използвана технология: Друпал
					<br/>
					Сайтът е изработен съвместно с фирма Джи Ем Криейтив.
				</p>		  
				<a class="more" target="_blank" href="http://tourism.lovech.bg/">Виж сайта</a>	
				<hr/>
			</section>							
		</div>

		<div class="row">
			<section class="col-md-6">
				<h3>BG02 Интегрирано управление на морските и вътрешни води</h3>
		        <img src="public/images/websites/bg02.jpg" alt="BG 02">			
				<p>Създаден: 2014 г.<br/>
					Използвана технология: Друпал
					<br/>
					Сайтът е изработен съвместно с фирма Джи Ем Криейтив.
				</p>		  
				<a class="more" target="_blank" href="http://bg02.moew.government.bg/">Виж сайта</a>
				<hr/>	
			</section>

			<section class="col-md-6">
				<h3>BG03 Биологично разнообразие и екосистеми</h3>
		        <img src="public/images/websites/bg03.jpg" alt="BG03">			
				<p>Създаден: 2014 г.<br/>
					Използвана технология: Друпал
					<br/>
					Сайтът е изработен съвместно с фирма Джи Ем Криейтив.
				</p>		  
				<a class="more" target="_blank" href="http://bg03.moew.government.bg/">Виж сайта</a>
				<hr/>	
			</section>		
		</div>

		<div class="row">
			<section class="col-md-6">
				<h3>Библиотека Балканика</h3>
		        <img src="public/images/websites/bibl-balkanica.jpg" alt="Библиотека Балканика">
				<p>Създаден: май 2014 г. <br/>
					Използвана технология: Друпал<br/>
					Персонализирана тема, подтема на <a target="_blank" href="https://www.drupal.org/project/bootstrap">Bootstrap</a>
				</p>		  
				<a class="more" target="_blank" href="http://biblioteka-balkanica.balkanic.org/">Виж сайта</a>	
				<hr/>
			</section>

			<section class="col-md-6">
				<h3>Проект „Младежта на Балканите - Отворени сцени”</h3>
		        <img src="public/images/websites/balkanyouth.jpg" alt="Младежта на Балканите - Отворени сцени">
				<p>Използвана технология: Друпал <br/>
				Сайтът е създаден във връзка с провеждащата се среща на 37 младежи и лидери от 5 балкански страни - Турция, Гърция, България, Румъния и Кипър,
	в гр. Каварна, България от 20-ти до 28-ми юни 2013 г.
				</p>	
				<a class="more" target="_blank" href="http://www.balkanyouth.balkanic.org/">Виж сайта</a>	
				<hr/>	
			</section>	
		</div>	

		<div class="row">
			<section class="col-md-6">
				<h3>Културна история на балканските народи</h3>
		        <img src="public/images/websites/balkancultures.jpg" alt="Културна история на балканските народи">			
				<p>Използвана технология: Друпал<br/>
				Създаден: Март 2013<br/>
				Сайт на секция "Културна история на балканските народи" към Института по балканистика - БАН
				</p>	
				<p>От 2017 г. е добавена функционалност за отразяване на основните исторически събития в <a target="_blank" href="http://www.balkancultures.balkanic.org/bg/calendar">календара</a> за 100 години напред.
				</p>	  
				<a class="more" target="_blank" href="http://www.balkancultures.balkanic.org/">Виж сайта</a>	
				<hr/>
			</section>

			<section class="col-md-6">
				<h3>Медицински факултет - София</h3>
		        <img src="public/images/websites/mf.jpg" alt="Медицински факултет - София">		
				<p>Използвана технология: Друпал<br/>
				Създаден: Август 2010<br/>
				Първият ми уебсайт, изработен с Друпал
				</p>		  
				<a class="more" target="_blank" href="http://medfac.mu-sofia.com/">Виж сайта</a>
				<hr/>
			</section>		
		</div>			
	
		<div class="row">
			<section class="col-md-6">
				<h3>Scientific Visualization</h3>
		        <img src="public/images/websites/webm.jpg" alt="Scientific Visualization">		
				<p>Използвана технология: webMathematica<br/>
				Работех като част от екипа, създал сайта през 2004 г.<br/>
				Сайт за интерактивно създаване на графики на функции</p>		  
				<a class="more" target="_blank" href="http://cose.math.bas.bg/Sci_Visualization/">Виж сайта</a>
				<hr/>
			</section>		
		</div>		
